.img-page12-1 {
  position: absolute;
  top:15%;
  width:30%;
  left:35%;
}
.img-page12-2 {
  position: absolute;
  top:40%;
  width:90%;
  left:5%;
}
.img-page12-3 {
  position: absolute;
  top:55%;
  width:50%;
  left:25%;
}
